@import "tailwindcss";
/* Add Flowbite styles */

/* :root {
  --background_1: #ffffff;
  --background_2: #fafafa;
  --foreground: #171717;
  --buttonHovered: #dddddd;
  --buttonTextHovered: #222222;
  --buttonActive: #dddddd;
  --buttonTextActive: #222222;

  --myBorderColor: #e5e7eb;
  --myTextColorMain: #4b5563;
  --myTextColorHeading: black;

  --myTextColorBlue: #3b82f6;
  --myTextColorLightGray: #9ca3af;
}

.dark {
  --background_1: #0a0a0a;
  --background_2: #222222;
  --foreground: #ededed;
  --buttonHovered: #222222;
  --buttonTextHovered: #dddddd;
  --buttonActive: #222222;
  --buttonTextActive: #dddddd;

  --myBorderColor: #555555;
  --myTextColorMain: #d1d5db;
  --myTextColorHeading: #ffffff;
} */
:root {
  --background_1: #ffffff;
  --background_2: #fafafa;
  --background_3: #f5f5f5;
  --foreground: #171717;

  --buttonNormal: #fafafa;
  --buttonTextNormal: #000000;
  --buttonHovered: #e5e5e5;
  --buttonTextHovered: #000000;
  --buttonActive: #000000;
  --buttonTextActive: #ffffff;

  --inputBgNormal: #f0f0f0;

  --myBorderColor: #e5e7eb;
  --myTextColorMain: #4b5563;
  --myTextColorHeading: black;

  --myTextColorBlue: #3b82f6;
  --myTextColorLightGray: #9ca3af;
}

.dark {
  --background_1: #0a0a0a;
  --background_2: #222222;
  --background_3: #333333;
  --foreground: #ededed;

  --buttonNormal: #222222;
  --buttonTextNormal: #ffffff;
  --buttonHovered: #3a3a3a;
  --buttonTextHovered: #ffffff;
  --buttonActive: #ffffff;
  --buttonTextActive: #000000;

  --inputBgNormal: #0f0f0f;

  --myBorderColor: #555555;
  --myTextColorMain: #d1d5db;
  --myTextColorHeading: #ffffff;
}

@theme inline {
  --color-background_1: var(--background_1);
  --color-background_2: var(--background_2);
  --color-background_3: var(--background_3);
  --color-foreground: var(--foreground);
  --color-buttonNormal: var(--buttonNormal);
  --color-buttonTextNormal: var(--buttonTextNormal);
  --color-buttonHovered: var(--buttonHovered);
  --color-buttonTextHovered: var(--buttonTextHovered);
  --color-buttonActive: var(--buttonActive);
  --color-buttonTextActive: var(--buttonTextActive);
  --color-inputBgNormal: var(--inputBgNormal);
  --color-myBorderColor: var(--myBorderColor);
  --color-myTextColorMain: var(--myTextColorMain);
  --font-inter: var(--font-inter);
  --font-poppins: var(--font-poppins);

  --breakpoint-w851: 851px;
  --breakpoint-w768: 768px;
  --breakpoint-w650: 650px;
  --breakpoint-w512: 512px;
  --breakpoint-w375: 375px;
}

body {

  color: var(--foreground);
  background-color: var(--background_1);
  font-family: Arial, Helvetica, sans-serif;
}


.button1 {
  background-color: var(--buttonNormal);
  color: var(--buttonTextNormal);
}

.button1,
.button1_active,
.button2 {
  border: 1px solid var(--myBorderColor);
  border-radius: 6px;
}


.inc_dec {
  background-color: var(--buttonNormal);
  color: var(--buttonTextNormal);
}

.inc_dec_2,
.button2 {
  background-color: var(--background_1);
  color: var(--foreground);
}

.inc_dec,
.inc_dec_2 {
  border: 1px solid var(--myBorderColor);
}


.button1:hover,
.button2:hover,
.inc_dec:hover,
.inc_dec_2:hover {
  background-color: var(--buttonHovered);
  color: var(--buttonTextHovered);
}

.button1:active,
.button2:active,
.inc_dec:active,
.inc_dec_2:active {
  background-color: var(--buttonActive);
  color: var(--buttonTextActive);
}

.button1_active {
  background-color: var(--buttonActive) !important;
  color: var(--buttonTextActive) !important;
}

.button1_active:hover {
  background-color: var(--buttonActive) !important;
  color: var(--buttonTextActive) !important;
}

.input1 {
  background-color: var(--inputBgNormal);
  color: var(--foreground);
  border: 1px solid var(--myBorderColor);
  border-radius: 6px;

  padding: 8px 10px;
  font-size: 14px;

  outline: none;
  width: 100%;
}

.input1::placeholder {
  color: var(--myTextColorLightGray);
}

.input1:focus {
  border-color: var(--foreground);
  background-color: var(--background_1);
}



/* bg-background_1 text-foreground border border-myBorderColor hover:bg-foreground hover:text-background_1 hover:border-background_1 focus:bg-background_1 focus:text-foreground focus:border-myBorderColor */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  /* IE & Edge */
  scrollbar-width: none;
  /* Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
  /* thin bar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
  /* hide track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 9999px;
}

/* Hides top/bottom (and left/right) arrow buttons */
.custom-scrollbar::-webkit-scrollbar-button {
  display: none;
}

/* Firefox */
.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: var(--color-background_2) transparent;
}

/* Autofill safe for theme colors */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--inputBgNormal) inset;
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 5000s ease-in-out 0s;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--inputBgNormal) inset;
  -webkit-text-fill-color: var(--foreground);
  transition: background-color 5000s ease-in-out 0s;
}